extends jheremy
block nav
    a(href="/#about") About me
    a(href="/#skills") Skills
    a(href="/#portfolio") Work
    a(href="/#contact") Contact
block presentation
block portfolio
    .er404
        .title
            hr#hrs
            h1 ups! error 200
            hr#hrs
        .title
            h1 check your conection
block form